* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    gap: 10px;
}

.container h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 10px;
}
.container h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #cdc7c7;
}

.container h1 span {
    color: #ff2963;
}

@media (max-width: 768px) {
    .container h1 {
        margin-top: -80px;
        font-size: 20px;
    }
}


/*function-import*/
.func-import {
    display: flex;
    align-items: center;
}

/*content-wrapper*/
.wrapper {
    display: flex;
    flex-direction: column;
}

/*function-content*/
.function-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

.wrapper-content {
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .func-import{
        width: 100%;
        padding: 5px;
    }
    .wrapper {
        width: 100%;
        min-height: 300px;
    }
    .wrapper-content{
        flex-direction: row;
        flex: 4;
        justify-content: space-evenly;
    }
    .function-contain{
        flex-basis: 20%;
        align-items: center;
        flex-direction: column;
    }
    
    
    .text-content{
        margin-right: 5px;
        flex-basis: 70%;
        width: 100%;
        min-height: 100px;
        margin-bottom: 0px;
    }
    .btn-item{
        width: 100%;
    }
    .row{
        width: 200px;
        flex-direction: column;
        justify-content: center;
        margin-top: 16px;
    }
    #s-content{
        width: 100%;
        font-size: 12px;
        /* padding: 0 66px; */
    }
    .play-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-play{
        margin: 10px auto 0 auto;
    }
}
/*text-area*/
.text-content {
    width: 100%;
    height: 250px;
    background: #403d84;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
}

.text-content::placeholder {
    font-size: 16px;
    color: #ddd;
}

/*function features*/
.row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}


button {
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button:hover {
    background: #8dc26f;
}
.btn-active{
    background: #8dc26f;
}

button img,
button i {
    width: 16px;
    margin-right: 10px;
}



.btn-play{
    flex: 1;
}

/*sellect*/
#s-content {
    /* flex: 4;
    color: #fff;
    background: #403d84;
    height: 50px;
    padding: 0 24px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px; */
    flex: 2;
    background-color: #c6c8da;
    max-height: 20px;
    border-radius: 8px;
}


/*footer*/
.footer {
    font-size: 10px;
    color: #e0d9d9;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 10px;
}